Spring3MVCDemo/WebContent/WEB-INF/xsd/CustomerRole.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="CustomerRole" elementFormDefault="qualified">
	<xs:element name="customerRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="roleId" type="xs:int"/>
				<xs:element name="role" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>
