Spring3MVCPerformance/src/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by Sreedhar (SBC) -->
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Customer">
	<xs:element name="customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string"/>
				<xs:element name="status">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ACTIVE"/>
							<xs:enumeration value="INACTIVE"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="password" type="xs:string"/>
				<xs:element name="lastname" type="xs:string"/>
				<xs:element name="firstname" type="xs:string"/>
				<xs:element name="email" type="xs:string"/>
				<xs:element name="custtype">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="REGULAR"/>
							<xs:enumeration value="PREFERRED"/>
							<xs:enumeration value="CORPORATE"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
