Spring3MVCPerformance/WebContent/WEB-INF/xsd/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cust="Customer" xmlns:ns1="Address" targetNamespace="Address" elementFormDefault="qualified">
	<xs:import namespace="Customer" schemaLocation="Customer.xsd"/>
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cust:customer"/>
				<xs:element name="zip" type="xs:string"/>
				<xs:element name="state" type="xs:string"/>
				<xs:element name="phone" type="xs:string"/>
				<xs:element name="country" type="xs:string"/>
				<xs:element name="city" type="xs:string"/>
				<xs:element name="addr1" type="xs:string"/>
				<xs:element name="addr2" type="xs:string"/>
				<xs:element name="addtype">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="PERMANENT"/>
							<xs:enumeration value="SHIPPING"/>
							<xs:enumeration value="BILLING"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="addr2" type="xs:string"/>
	<xs:element name="addr1" type="xs:string"/>
</xs:schema>
