Spring3MVCPerformance/WebContent/WEB-INF/xsd/OrderItemProcessRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by Sreedhar (SBC) -->
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="Request" targetNamespace="Request" elementFormDefault="qualified">
	<xs:element name="category">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="desc" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=" "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="discount">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="disctype">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="REGULAR"/>
							<xs:enumeration value="PREFERRED"/>
							<xs:enumeration value="CORPORATE"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="discpercent" type="xs:double"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="product">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:category"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="desc" type="xs:string"/>
				<xs:element name="unitcost" type="xs:double"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderItemProcessRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:orderitem"/>
				<xs:element name="orderstatus" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderitem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:product"/>
				<xs:element ref="ns1:discount"/>
				<xs:element name="quantity" type="xs:int"/>
				<xs:element name="userid" type="xs:string"/>
				<xs:element name="addid" type="xs:int"/>
				<xs:element name="orderdate" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="orderid" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
