Spring3MVCPerformance/WebContent/WEB-INF/xsd/OrderItemProcessResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="Response" targetNamespace="Response" elementFormDefault="qualified">
	<xs:element name="OrderItemProcessResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:OrderItem"/>
				<xs:element name="OrderItemTotal" type="xs:double"/>
				<xs:element name="orderstatus" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string"/>
				<xs:element name="addid" type="xs:int"/>
				<xs:element name="orderdate" type="xs:string"/>
				<xs:element name="quantity" type="xs:int"/>
				<xs:element name="unitcost" type="xs:double"/>
			</xs:sequence>
			<xs:attribute name="status" type="xs:string" use="required"/>
			<xs:attribute name="prodId" type="xs:string" use="required"/>
			<xs:attribute name="orderId" type="xs:string" use="required"/>
			<xs:attribute name="itemId" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
