Spring3MVCPerformance/WebContent/WEB-INF/xsd/Payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by Kiran (SBC) -->
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="Payment" xmlns:trans="Transaction"  xmlns:ord="Order" targetNamespace="Payment" elementFormDefault="qualified">
	<xs:import namespace="Transaction" schemaLocation="Transaction.xsd"/>
	<xs:import namespace="Order" schemaLocation="Order.xsd"/>
	<xs:element name="payment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="trans:transaction" maxOccurs="unbounded"/>
				<xs:element ref="ord:order"/>
				<xs:element name="paymentdate" type="xs:dateTime"/>
				<xs:element name="totalamount" type="xs:double"/>
				<xs:element name="status">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="SUCCESS"/>
							<xs:enumeration value="FAILURE"/>
							<xs:enumeration value="PENDING"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="paymentid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
